

{% extends "main/landing_page.html" %}

{% block content %}
  <div class="home bg-dark">

    <div class="container">
      <h1 class="text-center text-light mb-3">Our Dishes</h1>
      <div class="row">
        {% for item in menu_items %}
            <div class="col-sm-4">
                <div class="card mb-3" style="height: fit-content; overflow: auto;">
                  <img src="{{ item.image.url }}" style="height: 250px; width: 300px;">
                    <div class="card-body text-center">      
                      <button class="btn btn-warning">By:{{ item.created_by }}</button>         
                      <h5 class="text-center"><a href="{% url 'main:dishes' item.slug %}">{{ item.title }} </a><span class="badge badge-{{ item.label_colour }}">{{ item.labels }}</span></h5>
                      <p class="text-center">{{ item.description }}</p>
                      <h5 class="text-center">₹ {{ item.price }}</h5>    
                      <a href="{% url 'main:dishes' item.slug %}" class="btn btn-info float-right">View Details</a>           
                    </div>
                </div>
            </div>            
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
